// COLORS
$primary-color: #30d3fb;
$secondary-color: #eb86df;

$white-color: #fff;

$dark-grey: #555555;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
